ul{
    list-style-type: none;
}

.container{
    height: 100%;
    img{
        height: 100%;
    }
}

header{
    height: 80px;
    background-color: black;
}

#movies {
    flex-wrap: wrap;
    justify-content: center;
    gap: 40px;
}
#series{
    flex-wrap: wrap;
    justify-content: center;
    gap: 40px;
}

